.card-container {
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    .top-section {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin: 16px;
        

        .first-div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background-color: #a81d35;
            border-radius: 100%;
            cursor: pointer;
        }
        .second-div {
            width: 170px;
            cursor: pointer;
            .name-card {
                color: black;
                font-size: 20px;
            }
            .price-card {
                color: gray;
            }              
        }
        .third-div {
            position: relative;
            top: 9px;
            left: 9px;
            cursor: pointer;
        }
      
    }
    .center-section {
        .image {
            width: 300px;
            height: 350px;

        }        
    }
    .down-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 23px;
        .first-div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .cart {
                cursor: pointer;
                &:hover {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #a81d35;
                }
            }
            .info {
                cursor: pointer;
                &:hover {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #a81d35;
                }
            }
            .discount {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 25px;
                border-radius: 20px;
                color: white;
                background-color: #a81d35;
            }
        }
        .second-div {
            cursor: pointer;
        }
    }

}