.authentication-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    margin-top: 100px;
}


@media (min-width:320px)  { 
    
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
    .authentication-container {
        flex-direction: row;
        align-items: flex-start;
        width: 900px;
        margin-top: 100px;
    }
}
@media (min-width:1281px) { }